<form id="studentForm">
  <legend id="studentHelp" class="form-text text-muted">Student Information:</legend>
  <div class="form-group row">
    <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="firstName" placeholder="First Name">
    </div>
  </div>
  <div class="form-group row">
    <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="lastName" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group row">
    <label for="studentEmail" class="col-sm-2 col-form-label">Student Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="studentEmail" placeholder="Student Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="studentMobile" class="col-sm-2 col-form-label">Student Phone Number</label>
    <div class="col-sm-10">
      <input type="tel" class="form-control" id="studentMobile" placeholder="Student Phone #">
    </div>
  </div>
  <div class="form-group row">
    <label for="street" class="col-sm-2 col-form-label">Street Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="street" placeholder="Street Address">
    </div>
  </div>
  <div class="form-group row">
    <label for="cityState" class="col-sm-2 col-form-label">City, State</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="cityState" placeholder="City, State">
    </div>
  </div>
  <div class="form-group row">
    <label for="zip" class="col-sm-2 col-form-label">Zip Code</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="zip" placeholder="Zip Code">
    </div>
  </div>
  <div class="form-group row">
    <label for="grade" class="col-sm-2 col-form-label">Grade Level</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="grade" placeholder="Grade Level">
    </div>
  </div>
  <div class="form-group row">
    <label for="school" class="col-sm-2 col-form-label">School</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="school" placeholder="School Name">
    </div>
  </div>
  <div class="form-group row">
    <label for="birthMonth" class="col-sm-2 col-form-label">Birth Month</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="birthMonth" placeholder="Birth Month">
    </div>
  </div>
  <div class="form-group row">
    <label for="birthDay" class="col-sm-2 col-form-label">Birth Day</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="birthDay" placeholder="Birth Day">
    </div>
  </div>
  <div class="form-group row">
    <label for="birthYear" class="col-sm-2 col-form-label">Birth Year</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="birthYear" placeholder="Birth Year">
    </div>
  </div>
  <legend id="parentHelp" class="form-text text-muted">Parent/Guardian Information:</legend>
  <div class="form-group row">
    <label for="parentName" class="col-sm-2 col-form-label">Parent/Guardian Fullname</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="parentName" placeholder="Parent/Guardian Fullname">
    </div>
  </div>
  <div class="form-group row">
    <label for="parentEmail" class="col-sm-2 col-form-label">Parent/Guardian Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="parentEmail" placeholder="Parent/Guardian Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="parentWork" class="col-sm-2 col-form-label">Parent/Guardian Workplace</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="parentWork" placeholder="Parent/Guardian Workplace">
    </div>
  </div>
  <div class="form-group row">
    <label for="parentHomePhone" class="col-sm-2 col-form-label">Parent/Guardian Home Phone #</label>
    <div class="col-sm-10">
      <input type="tel" class="form-control" id="parentHomePhone" placeholder="Parent/Guardian Home Phone #">
    </div>
  </div>
  <div class="form-group row">
    <label for="parentCellPhone" class="col-sm-2 col-form-label">Parent/Guardian Cell Phone #</label>
    <div class="col-sm-10">
      <input type="tel" class="form-control" id="parentCellPhone" placeholder="Parent/Guardian Cell Phone #">
    </div>
  </div>
  <div class="form-group row">
    <label for="parentWorkPhone" class="col-sm-2 col-form-label">Parent/Guardian Work Phone #</label>
    <div class="col-sm-10">
      <input type="tel" class="form-control" id="parentWorkPhone" placeholder="Parent/Guardian Work Phone #">
    </div>
  </div>
  <legend id="studentEssays" class="form-text text-muted">Student Essays and Interests:</legend>
  <div class="form-group row">
    <small id="essayPrompt1" class="form-text text-muted">Why do you want to be a Techbridge girl?  What most excites you about being in a Science, Engineering and Technology program for girls?</small>
    <textarea class="form-control" rows="3" placeholder="Essay 1" id="essay1"></textarea>
  </div>
  <div class="form-group row">
    <small id="essayPrompt2" class="form-text text-muted">If you could invent ANYTHING in the world using Science, Engineering and Technology, what would it be and why?</small>
    <textarea class="form-control" rows="3" placeholder="Essay 2" id="essay2"></textarea>
  </div>
  <small id="interestsPrompt" class="form-text text-muted">Please list three things that interest you. For example: sports, science, art…</small>
  <div class="form-group row">
    <label for="interest1" class="col-sm-2 col-form-label">Interest 1</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="interest1" placeholder="Interest 1">
    </div>
  </div>
  <div class="form-group row">
    <label for="interest2" class="col-sm-2 col-form-label">Interest 2</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="interest2" placeholder="Interest 2">
    </div>
  </div>
  <div class="form-group row">
    <label for="interest3" class="col-sm-2 col-form-label">Interest 3</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="interest3" placeholder="Interest 3">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>