<form id="volunteer-form">
  <div class="form-group">
    <!-- Can change date to be dynamic -->
    <ol id="volunteer-requirements">
      <li>
        I <input class="form-text inline" name="full_name" type="text" placeholder="Enter full name">, agree to work for Techbridge as a volunteer on the Techbridge / DocuSign  Field Trip  on May 2, 2017.
      </li>
      <li>
        2. I understand that I will not be compensated for any time spent volunteering, nor am I entitled to benefits, including employment insurance benefits upon the termination of this agreement or as a result of this service.
      </li>
      <li>
        3. I am voluntarily participating in this activity with knowledge of the hazards and potential dangers involved, and agree to accept any and all risks of personal injury and property damage.
      </li>
      <li>
        4. As consideration for volunteering for Techbridge, I hereby agree that I, and my assignees, heirs, guardians, and legal representatives, will not make a claim against or sue Techbridge or its employees, agents or contractors for injury or damage resulting from the negligence, whether active or passive, or other acts, however caused, by any of its officers, employees, agents, or contractors of Techbridge as a result of my volunteering. I HEREBY RELEASE AND DISCHARGE TECHBRIDGE AND ITS OFFICERS, EMPLOYEES, AGENTS AND CONTRACTORS FROM ALL ACTIONS, CLAIMS, OR DEMANDS THAT I, MY HEIRS, GUARDIANS, AND LEGAL REPRESENTATIVES NOW HAVE, OR MAY HAVE IN THE FUTURE, FOR INJURY OR DAMAGE RESULTING FROM MY PARTICIPATION IN THE PROJECT.
      </li>
      <li>
        5. I UNDERSTAND THAT IF I AM INJURED IN THE COURSE OF THE PROJECT, I AM NOT COVERED BY TECHBRIDGE’S WORKERS’ COMPENSATION PROGRAM. I authorize Techbridge to seek emergency medical treatment on my behalf in case of injury, accident or illness to me arising from my involvement as a volunteer. I understand that I will be responsible for medical costs incurred by such accident, illness or injury.
      </li>
      <li>
        6. I understand that the materials and tools provided by Techbridge are and remain the property of Techbridge, and I agree to return these tools and any remaining materials to Techbridge at the end of my volunteer service.
      </li>
      <li>
        7. I HAVE CAREFULLY READ THIS AGREEMENT AND FULLY UNDERSTAND ITS CONTENTS.
        I AM AWARE THAT THIS IS A RELEASE OF LIABILITY, AND SIGN IT OF MY OWN FREE WILL.
      </li>
    </ol>
  </div>
  <fieldset class="form-group">
    <legend>Participant Information</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="age_category" id="optionsRadios1" value="adult" checked>
        I am of age 18 or older
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="age_category" id="optionsRadios2" value="adolecent">
        I am of age 17 or younger
      </label>
    </div>
  </fieldset>
  <button type="submit" class="btn btn-warning">Submit</button>
</form>
