
<div class="tab-content">
  <div class="volunteer tab-pane active" role="tabpanel">
    <h4 class="card-title text-center">VOLUNTEER</h4>
    <h6 class="card-subtitles mb-2 text-muted">All ages welcome</h6>
    <form id="volunteer-form">
      <div class="form-group">
        <!-- Can change date to be dynamic -->
        <ol id="volunteer-requirements">
          <li>
            I <input class="form-text inline" name="full_name" type="text" placeholder="Enter full name">, agree to work
            for Techbridge as a volunteer on the Techbridge / DocuSign Field Trip on May 2, 2017.
          </li>
          <li>
            I understand that I will not be compensated for any time spent volunteering, nor am I entitled to benefits, including employment
            insurance benefits upon the termination of this agreement or as a result of this service.
          </li>
          <li>
            I am voluntarily participating in this activity with knowledge of the hazards and potential dangers involved, and agree to
            accept any and all risks of personal injury and property damage.
          </li>
          <li>
            As consideration for volunteering for Techbridge, I hereby agree that I, and my assignees, heirs, guardians, and legal representatives,
            will not make a claim against or sue Techbridge or its employees, agents or contractors for injury or damage
            resulting from the negligence, whether active or passive, or other acts, however caused, by any of its officers,
            employees, agents, or contractors of Techbridge as a result of my volunteering. I HEREBY RELEASE AND DISCHARGE
            TECHBRIDGE AND ITS OFFICERS, EMPLOYEES, AGENTS AND CONTRACTORS FROM ALL ACTIONS, CLAIMS, OR DEMANDS THAT I, MY
            HEIRS, GUARDIANS, AND LEGAL REPRESENTATIVES NOW HAVE, OR MAY HAVE IN THE FUTURE, FOR INJURY OR DAMAGE RESULTING
            FROM MY PARTICIPATION IN THE PROJECT.
          </li>
          <li>
            I UNDERSTAND THAT IF I AM INJURED IN THE COURSE OF THE PROJECT, I AM NOT COVERED BY TECHBRIDGE’S WORKERS’ COMPENSATION PROGRAM.
            I authorize Techbridge to seek emergency medical treatment on my behalf in case of injury, accident or illness
            to me arising from my involvement as a volunteer. I understand that I will be responsible for medical costs incurred
            by such accident, illness or injury.
          </li>
          <li>
            I understand that the materials and tools provided by Techbridge are and remain the property of Techbridge, and I agree to
            return these tools and any remaining materials to Techbridge at the end of my volunteer service.
          </li>
          <li>
            I HAVE CAREFULLY READ THIS AGREEMENT AND FULLY UNDERSTAND ITS CONTENTS. I AM AWARE THAT THIS IS A RELEASE OF LIABILITY, AND
            SIGN IT OF MY OWN FREE WILL.
          </li>
        </ol>
      </div>
      <fieldset class="form-group">
        <legend>Participant Information</legend>
        <div class="form-check">
          <label class="form-check-label">
        <input type="radio" class="form-check-input" name="age_category" id="optionsRadios1" value="adult" checked>
        I am of age 18 or older
      </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
        <input type="radio" class="form-check-input" name="age_category" id="optionsRadios2" value="adolecent">
        I am of age 17 or younger
      </label>
        </div>
      </fieldset>
      <button class="volunteer-btn btn btn-outline-success">Next</button>
    </form>
  </div>

  <div class="volunteer tab-pane" id="waiver" role="tabpanel">
    <h4 class="card-title text-center">MEDIA RELEASE</h4>
    <p class="text">
      Occasionally, Techbridge program activities may be photographed, videotaped, or audio taped for educational, publicity or
      fundraising purposes. Please indicate if you give permission for you (and your child/ren) to appear in videos, photos
      or audio recordings without compensation (e.g., as part of brochures, slide shows or program websites). Your authorization
      below will also give permission for Techbridge to share photos and other media with partner organizations for use in
      their promotions of Techbridge events and programs.
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-check alert alert-success">
              <label class="form-check-label">
              <input class="form-check-input" name="media_waiver" type="checkbox" value="yes">
                Yes, I give my permission.
            </label>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-check alert alert-danger">
              <label class="form-check-label">
              <input class="form-check-input" name="media_waiver" type="checkbox" value="no">
                No, I do not want to appear in a photograph or videotape.
            </label>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="input-group">
                <span class="input-group-addon">Date</span>
                <input type="text" class="form-control" aria-label="Text input with checkbox">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group">
                <span class="input-group-addon">Name</span>
                <input type="text" class="form-control" aria-label="Text input with checkbox">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group">
                <span class="input-group-addon">eSignature</span>
                <input type="text" class="form-control" aria-label="Text input with checkbox">
              </div>
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon">Organization</span>
              <input type="text" class="form-control" aria-label="organization">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon">Title/Field</span>
              <input type="text" class="form-control" aria-label="profession">
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon">Phone</span>
              <input type="text" class="form-control" aria-label="phone">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon">E-Mail</span>
              <input type="text" class="form-control" aria-label="email">
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-sm-12">
            <div class="input-group">
              <span class="input-group-addon">Address</span>
              <input type="text" class="form-control" aria-label="address">
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-check alert alert-success">
              <label class="form-check-label">
              <input class="form-check-input" name="interest" type="checkbox" value="role_model">
                I am interested in additional role model opportunities.
            </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-check alert alert-success">
              <label class="form-check-label">
              <input class="form-check-input" name="interest" type="checkbox" value="newsletter">
                Please add me to the e-newsletter list.
            </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-check alert alert-success">
              <label class="form-check-label">
              <input class="form-check-input" name="interest" type="checkbox" value="mailing_list">
                Please add me to the Techbridge Mailing list.
            </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-check alert alert-success">
              <label class="form-check-label">
              <input class="form-check-input" name="interest" type="checkbox" value="donation">
                I am interested in donating to support Techbridge.
            </label>
            </div>
          </div>
        </div>
      </div>
    </p>

    <button class="volunteer-btn btn btn-outline-info">Back</button>
    <button type="submit" class="btn btn-outline-warning">Submit</button>
  </div>
</div>