/**
 * General Styles
 */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/**
 * General Classes
 */

.card {
  margin-top: 20px;
}

.space-below {
  margin-bottom: 20px;
}

.inline {
  display: inline;
}

/**
 * Specific Styles
 */

#volunteer-collapse {
  margin-top: 20px;
}

#volunteer-requirements > li {
  margin: 10px 0px;
  line-height: 1.5;
}
