body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.card {
  margin-top: 20px;
}

.inline {
  display: inline;
}

#volunteer-collapse {
  margin-top: 20px;
}

#volunteer-requirements > li {
  margin: 10px 0px;
  line-height: 1.5;
}
